@font-face{
			font-family:Belgiano Serif;
			src:url("font/Belgiano Serif 2.ttf");
}
body{
	margin: 0;
	font-family: book antiqua, times;
}
.cont{
	height: auto;
	width: 100%;
	display: flex;
	margin: auto;
	flex-direction: column;
	background-color: grey;
	justify-content: center;
}
img{
	display: block;
	margin: auto;
}
header{
		height: auto;
		width: 100%;
		display: flex;
		background: linear-gradient(270deg, rgba(9, 54, 59) 5%, rgba(64,11,28) 70%);
		align-items: center;
		justify-content: space-between;
}
.logo{
		height: auto;
		width: 30%;
}
nav{
	height: auto;
	width: 60%;	
	display: flex; 
	align-items: center;
	justify-content: space-evenly;
}
nav a:link, a:visited{
		font-size: 20px;
		text-decoration: none;
		color: white;
		transition: color 1s, font-size 1s, background-color 1s;
		
}
nav a:hover{
			color: #44b5c2;
			font-size: 22px;
}
main{
	height: auto;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: white;
}
.slider{
		width: 100%;
}
.titulos{
		height: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		align-items: center;
}
h1{
	font-size: 30px;
	color: #400b08;
	text-align: center;
}
.titulos h2{
			font-size: 25px;
			color: #09363b;
			text-align: center;
}
.tarjetas{
			height: auto;
			width: 90%;
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-evenly;
			padding: 1%;
}
.ficha{
		height: auto;
		width: 25%;
		display: flex;
		flex-direction: column;
		justify-content: center;
		border-style: solid;
		color: grey;
		border-radius: 10px;
		border-width: 1px;
		padding: 1%;
		margin: 2%;
		margin-bottom: 2.5%;
}
.img_ficha{
			height: auto;
			width: 100%;
}
.text_ficha{
			height: auto;
			width: 100%;
}
.text_ficha p{
		text-align: justify;
		line-height: 30px;
		font-size: 18px;
}
.text_ficha h2{
		font-size: 25px;
		text-align: center;
		color: #09363b;
}
footer{
		height: auto;
		width: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		background: linear-gradient(270deg, rgba(9, 54, 59) 5%, rgba(16, 27, 28) 70%);
}
.logof{
		height: auto;
		width: 10%;
		padding: 1%;
}
.infof{
		height: auto;
		width: 38%;
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		padding: 1%;
}
.infof p{
		color: white;
		font-weight: bold;
		font-size: 17px;
}
.infof img{
		display: inline;
}
a:link{ 
		text-decoration: none;
}
.imagf{
		height: auto;
		width: 46%;
		display: flex;
		align-items: center;
}
.imagf img{
		display: inline;
		padding: 1%;
}
/*Habitaciones*/
.estandar{
		height: auto;
		width: 100%;
		display: flex;
		justify-content: center;
}
.foto_hab{
		height: auto;
		width: 46%;
}
.foto_hab img{
			display: inline;
			margin: auto;
			width: 100%;
			border-radius: 20px;
			padding: 1%;
			padding-top: 1%;
			padding-bottom: 1%;
			margin-top: 20px;
}
.text_hab{
		height: auto;
		width: 50%;
		padding-top: 1.5%;
		padding: 1%;
		
}
.text_hab h2{	
			text-align: center;
			color: #09363b;
}
.text_hab p{
			line-height: 30px;
			text-align: justify;
			color: grey;
			font-size: 18px;
}
.text_hab ul{
			color: grey;
			line-height: 30px;
			font-size: 18px;
}
.superior{
		height: auto;
		width: 100%;
		display: flex;
		justify-content: center;
		padding-bottom: 1%;
}

/*------------- Media Quearies --------------*/
@media screen and (max-width:800px)
{
	header{
		flex-direction: column;
		align-content: flex-start;
	}
	.logo{
		width: 100%;
		
	}
	nav{
		flex-direction: column;
	}
	nav a:link, a:visited{
		font-size: 18px;
	}
	main{
		flex-direction: column;
		width: 100%;
	}
	.h1{
		font-size: 25px;
	}
	.titulos h2{
				font-size: 20px;
	}
	.tarjetas{
			flex-direction: column;
			width: 95%;
	}
	.ficha{
		width: 94%;
	}
	.text_ficha h2{
				font-size: 25px;
	}
	.text_ficha p{
				font-size: 15px;
	}
	footer{
		flex-direction: column;
		justify-content: center;
	}
	.logof{
		width: 80%;
	}
	.infof{
		width: 90%;
		align-items: center;
	}
	.imagf{
		width: 90%;
		flex-direction: column;
	}
	.infof p{
			font-size: 15px;
			text-align: center;
	}
	/* Habitaciones */
	.estandar{
			flex-direction: column;
			width: 100%;
			align-items: center;	
	}
	.superior{
			flex-direction: column;
			width: 100%;
			align-items: center;
	}
	.foto_hab{
			width: 90%;
	}
	.text_hab{
			width: 90%;
	}
	.text_hab h2{
				font-size: 20px;
	}
	.text_hab p{
				font-size: 15px;
	}
	.text_hab ul{
			font-size: 15px;
}
}